{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="my-notes-tab" href="#my-notes" data-bs-toggle="tab">My Notes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="public-notes-tab" href="#public-notes" data-bs-toggle="tab">Public Notes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="shared-notes-tab" href="#shared-notes" data-bs-toggle="tab">Shared With Me</a>
        </li>
    </ul>

    <div class="tab-content mt-4">
        <!-- My notes -->
        <div class="tab-pane fade show active" id="my-notes">
            {% for note in my_notes %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="card-title fs-3 mb-3">
                                {{ note.title }}
                                {% if note.is_encrypted %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 20 20">
                                  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                                </svg>
                                {% endif %}
                            </div>
                        </h5>

                        <p class="card-text">Created at: {{ note.created_at }}</p>
                        <a href="{{ url_for('views.view_note', encoded_id=encode_id(note.id)) }}" class="btn btn-primary">View Note</a>
                        <a href="{{ url_for('views.edit_note', encoded_id=encode_id(note.id)) }}" class="btn btn-secondary btn-sm">Edit</a>
                        <form method="POST" nonce="{{ csp_nonce() }}" action="{{ url_for('views.delete_note', encoded_id=encode_id(note.id)) }}" class="form inline">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Public notes -->
        <div class="tab-pane fade" id="public-notes">
            {% for note in public_notes %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="card-title fs-3 mb-3">
                                {{ note.title }}
                                {% if note.is_encrypted %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 20 20">
                                  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                                </svg>
                                {% endif %}
                            </div>
                        </h5>
                        <p class="card-text">Created by: {{ note.author.username if note.author else "Unknown" }}</p>
                        <a href="{{ url_for('views.view_note', encoded_id=encode_id(note.id)) }}" class="btn btn-primary">View Note</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Shared notes -->
        <div class="tab-pane fade" id="shared-notes">
            {% for note in shared_notes %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="card-title fs-3 mb-3">
                                {{ note.title }}
                                {% if note.is_encrypted %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 20 20">
                                  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                                </svg>
                                {% endif %}
                            </div>
                        </h5>
                        <p class="card-text">Shared by: {{ note.author.username if note.author else "Unknown" }} </p>
                        <a href="{{ url_for('views.view_note', encoded_id=encode_id(note.id)) }}" class="btn btn-primary">View Note</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
