{% extends "base.html" %}

{% block content %}
<h2>Profile Settings</h2>
<form method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
        <label for="exampleInputUsername1">{{ form.username.label }}</label>
        {{ form.username(class="form-control", id="exampleInputUsername1", placeholder="Enter username") }}
        {% if form.username.errors %}
          {% for error in form.username.errors %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endfor %}
        {% endif %}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save changes</button>
</form>
<br>
<div>
    <a href="{{ url_for('auth.setup_two_factor_auth') }}"><button type="button" class="btn btn-info me-2">Configure Two Factor Authentication</button></a>
</div>
{% endblock %}
