{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 fw-normal text-center">Reset your password</h1>
            <div class="form-floating">
                {{ form.password(placeholder="New Password", class="form-control mb-2") }}
                {{ form.password.label }}
                {% for error in form.password.errors %}
                    <p nonce="{{ csp_nonce() }}" style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form-floating">
                {{ form.password2(placeholder="Confirm New Password", class="form-control mb-2") }}
                {{ form.password2.label }}
                {% for error in form.password2.errors %}
                    <p nonce="{{ csp_nonce() }}" style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
            <p>{{ form.submit(class="w-100 btn btn-lg btn-primary") }}</p>
        </form>

        </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}